:root {

    /* Cores */
    --azul-marinho-bastante-escuro: #1d242c;
    --azul-marinho-mais-escuro: #15192A;
    --azul-marinho-escuro: #192746;
    --Azul-Marinho: #2C294D;
    --Verde: #49b354;
    --Verde-Florescente: #57FF5D;
    --Amarelo: #ffde59;
    --preto: #000000;
    --branco: #ffffff;

    /* Tipografia */
    --fs-1: 38px;
    --fs-2: 35px;
    --fs-3: 30px;
    --fs-4: 22px;
    --fs-5: 20px;
    --fs-6: 15px;

    --fw-5: 500;
    --fw-6: 600;
    --fw-7: 700;
    --fw-8: 800;
    --fw-9: 900;

    /* Espaço */
    --px: 15px;
    --py: 80px;

    /* Outros */
    --default-transition: 0.25s ease;
}